<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Freeeze</title>
    @Styles.Render("~/Conent/style.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div>

        </div>
        <div>
            <a href="index.html"><img src="@Url.Content("~/img/freezelogo.png")" alt="Logo"></a>
            <div id="TopHolder">
                <nav>
                    <div>
                        <a href="">HOME</a><br>
                        <div class="TopHidden"></div>
                    </div>
                    <div>
                        <a href="">ABOUT</a><br>
                        <div class="TopHidden"><a href="">PRODUCTS</a></div>
                    </div>
                    <div>
                        <a href="">BLOG</a><br>
                        <div class="TopHidden"><a href="">SINGLE POST</a></div>
                    </div>
                    <div><a href="">CONTACT</a></div>
                </nav>
            </div>
        </div>
        <div>

        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
