<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Freeeze</title>
    @Styles.Render("~/Content/style.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div>

        </div>
        <div>
            <a href="index.html"><img src="~/Content/img/freezelogo.png" alt="Logo"></a>
            <div id="TopHolder">
                <nav>
                    <div>
                        <a href="@Url.Action("Index","Home")">HOME</a><br>
                        <div class="TopHidden"></div>
                    </div>
                    <div>
                        <a href="">ABOUT</a><br>
                        <div class="TopHidden"><a href="@Url.Action("Index","Product")">PRODUCTS</a></div>
                    </div>
                    <div>
                        <a href="@Url.Action("Index","Blog")">BLOG</a><br>
                        <div class="TopHidden"><a href="@Url.Action("Details","Blog", new { id=-1})">SINGLE POST</a></div>
                    </div>
                    <div><a href="">CONTACT</a></div>
                </nav>
            </div>
        </div>
        <div>

        </div>
    </header>
        @RenderBody()
    <footer>
        <div></div>
        <div>
            <div id="BottomIconHolder">
                <img src="~/Content/img/facebook.png" alt="Facebook">
                <img src="~/Content/img/twitter.png" alt="Twitter">
                <img src="~/Content/img/googleplus.png" alt="Google+">
                <img src="~/Content/img/pinterest.png" alt="Pinterest">
            </div>
            <div id="FooterText">
                <br>
                <h5>&copy; 2023 Freeze. All Rights Reserved.</h5>
            </div>
        </div>
        <div></div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
